 <div class="Jumbotron">
  <center>
    <h1>Welcome to Pizza Shack</h1>
    
    <img src="http://static1.squarespace.com/static/52b78061e4b031acfc4bb6d3/t/52b79e54e4b0f630e3badbae/1413627427370/?format=400w">
    <br>
    
    <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
  <center>
    
    </div>
  